.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .myform-wrapper {
    margin: 50px;
    width: 350px;

    .mat-form-field {
        width: 100%;
    }

    .mat-toolbar-single-row {
        height: auto !important;
        background: transparent;

        button {
            width: 30%;
        }
    }
}

#fileUpload {
    position: absolute;
    z-index: 9;
    opacity: 0;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    cursor: pointer;
}