<div class="parent">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-form-field>
      <mat-label>File</mat-label>
      <input matInput placeholder="File Name" [readonly]="!editable" [value]="filename" />
    </mat-form-field>
    <button mat-button color="primary" (click)="onBrowse()">Browse</button>
    <button mat-button color="warn" [disabled]="!filename" (click)="onUpload()">
      <mat-icon>attach_file</mat-icon>
      Upload
    </button>
    <button mat-button color="warn" (click)="onClear()">Clear</button>
    <mat-progress-bar *ngIf="showProgress" [value]="progress"></mat-progress-bar>
  </mat-grid-list>

  <input type="file" #fileInput id="fileUpload" name="fileUpload" style="display: none" />
</div>
