<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Upload Page">
    <app-uploder></app-uploder>
  </mat-tab>
  <mat-tab label="History Page">
    <app-history></app-history>
  </mat-tab>
</mat-tab-group>
